.grid{
    height: 470px;
    width: 470px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-left: 30%;
}

.turn-highlight {
    color: white;
}

.reset{
    background-color: rgb(211, 211, 234);
    border: 1px solid bisque;
}